.wrapper {
  max-width: calc(100% - 20px);
  width: 800px;
  margin: auto;
  padding-top: 60px;

  h1 {
    text-align: center;
    margin: 1em auto;
  }

  ion-searchbar {
    --border-radius: 100px;
    --background: var(--ion-color-light-shade);
    --icon-color: var(--ion-color-dark)
  }

  .loading {
    height: 200px;
    display: flex;

    ion-spinner {
      display: block;
      margin: auto;
    }
  }
}
