<ion-content>
  <div class="wrapper">
    <div class="header">
      <div class="show-dark">
        <img src="/assets/logo/icon_horizontal_dark.svg" width="50" class="logo" alt="icon"/>
      </div>
      <div class="show-light">
        <img src="/assets/logo/icon_horizontal_light.svg" width="50" class="logo" alt="icon"/>
      </div>
      <h1 class="heading">Find a Group</h1>
      <ion-searchbar></ion-searchbar>
    </div>
    <div class="content">
      <app-group *ngFor="let group of groups" [group]="group"></app-group>
    </div>
  </div>
</ion-content>
