<ion-content>
  <div class="wrapper">
    <div class="header">
      <app-header></app-header>
      <div class="bar">
        <ion-buttons class="back-buttons">
          <ion-button routerLink="/home" router-direction="back">
            <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h1 class="heading">
          Find a Group
        </h1>
      </div>
      <ion-searchbar [(ngModel)]="rawSearch" (ionChange)="search()" debounce="650"></ion-searchbar>
    </div>
    <div class="content">
      <div class="loading" *ngIf="groups.length === 0">
        <ion-spinner></ion-spinner>
      </div>
      <app-group *ngFor="let group of groups" [group]="group"></app-group>
    </div>
  </div>
</ion-content>
