<ion-content>
  <div class="wrapper">
    <div class="header">
      <app-header></app-header>
      <h1 class="heading">Hello, Daniel!</h1>
    </div>
    <div class="content">
      <section>
        <ion-card>
          <ion-card-content class="summary-content">
            <div class="number">
              <h2 class="smol-header">Net Gain (Loss)</h2>
              <div class="big-number" [class.gain]="isGain()" [class.loss]="!isGain()">
                {{ isGain() ? '+' : '' }}{{ netChange | currency }}
              </div>
            </div>
            <div class="number">
              <h2 class="smol-header">Funds</h2>
              <div class="big-number">
                {{ funds | currency }}
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </section>
      <section>
        <ion-card>
          <ion-item button routerLink="/groups">
            <ion-icon name="enter-outline" slot="end"></ion-icon>
            Join Groups
          </ion-item>
          <ion-item button routerLink="/groups/new">
            <ion-icon name="add-circle-outline" slot="end"></ion-icon>
            Create Group
          </ion-item>
        </ion-card>
      </section>
      <section>
        <ion-card>
          <ion-list-header>
            Your Groups
          </ion-list-header>
          <ion-item *ngFor="let group of groups" button [routerLink]="'/groups/' + group.id">
            {{ group.name }}
            <app-sparkline slot="end"></app-sparkline>
          </ion-item>
        </ion-card>
      </section>
<!--      <div class="loading">-->
<!--        <ion-spinner></ion-spinner>-->
<!--      </div>-->
    </div>
  </div>
</ion-content>
