.wrapper {
  max-width: calc(100% - 20px);
  width: 800px;
  margin: auto;
  padding-top: 40px;

  h1 {
    text-align: center;
    margin: 1em auto;
  }

  ion-searchbar {
    --border-radius: 100px;
    --background: var(--ion-color-light-shade);
    --icon-color: var(--ion-color-dark)
  }

  .loading {
    height: 200px;
    display: flex;

    ion-spinner {
      display: block;
      margin: auto;
    }
  }
}

.summary-content {
  color: var(--ion-text-color);
  text-align: center;
  padding: 2em;

  .number {
    &:first-child {
      margin-bottom: 2em;
    }

    .big-number {
      font-size: 3em;
    }

    .gain {
      color: var(--ion-color-success)
    }

    .loss {
      color: var(--ion-color-danger)
    }
  }
}
