.spinner-center {
  height: 500px;
  display: flex;

  ion-spinner {
    margin: auto;
    display: block;
  }
}

main {
  max-width: calc(100% - 80px);
  margin: auto;
  width: 1000px;
  padding-top: 2rem;

  h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .tags {
    margin-bottom: 1.5rem;
  }

  .button-back {
    transform: translateX(-1em);
  }
}

.join-wrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  height: min-content;
  padding-bottom: 60px;
  width: 100%;

  .join-button {
    margin: auto;
    --border-radius: 100px;
  }
}
