<ion-content>
  <form
      method="post"
      action="/login"
      (ngSubmit)="submit()"
      (keyup.enter)="submit()"
  >
    <div class="wrapper">
      <div class="column">
        <div class="header">
          <app-header></app-header>
        </div>
        <ion-card class="main-card">
          <div class="form-wrapper">
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input
                  required
                  name="username"
                  [(ngModel)]="username"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                  required
                  name="password"
                  [(ngModel)]="password"
                  type="password"
              ></ion-input>
            </ion-item>
          </div>
        </ion-card>
        <ion-card>
          <ion-item button (click)="submit()" color="primary">
            Log In
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
          </ion-item>
          <ion-item button routerLink="/register">
            or Register
          </ion-item>
        </ion-card>
      </div>
    </div>
  </form>
</ion-content>
