<ion-card>
  <ion-card-header>
    <ion-card-title>{{group.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="description">
      <p>
        {{group.description}}
      </p>
    </div>
    <div class="tags">
      <ion-chip *ngFor="let tag of group.tags">#{{tag}}</ion-chip>
    </div>
    <ion-buttons>
      <ion-button class="details-button" routerLink="/groups/{{group.id}}" color="primary">
        View Details
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-card-content>
</ion-card>
